{% extends 'layout.html' %}

{% block body %}

<br>
<br>
<br>
<title>Meet The Pack</title>   
<h1 class="display-4">Meet the Pack!</h1>

<div class="row">
  <!-- Team Member 1-->
  <div class="col-sm-4">
    <div class="card"  style="width: 20rem;">
        <img src="../static/images/krithika.jpg" alt="Krithika Raghavendran" style="width:100%">
        <div class="container">
        <h2>Krithika Raghavendran </h2>
        <h5>krithika.ragha@gmail.com</h5>
        <p><button class="button" onclick="window.location.href = 'https://www.linkedin.com/in/krithikaraghavendran' " target="_blank">Contact</button></p>
      </div>
    </div>
  </div>
  <!-- Team Member 2-->
  <div class="col-sm-4">
    <div class="card"  style="width: 20rem;">
      <img src="../static/images/wilson.jpg" alt="Wilson Mendez" style="width:100%">
      <div class="container">
        <h2>Wilson Mendez</h2>
        <h5>wilsonmendez3@gmail.com</h5>
        <p><button class="button" onclick="window.location.href = 'https://www.linkedin.com/in/wm3/' " target="_blank">Contact</button></p>
      </div>
    </div>
  </div>
  <!-- Team Member 3-->
  <div class="col-sm-4">
    <div class="card"  style="width: 20rem;">
      <img src="../static/images/seth.jpg" alt="Seth Porter" style="width:100%">
      <div class="container">
        <h2>Seth Porter</h2>
        <h5>sethporter903@gmail.com</h5>
        <p><button class="button" onclick="window.location.href = 'https://www.linkedin.com/in/sethporter1/' " target="_blank">Contact</button></p>
      </div>
    </div>
  </div>

  
  {% endblock %}
  