<!DOCTYPE html>
<html>
   <head>
     <title>The Pup Files</title>
     <link rel="shortcut icon" href="static/favicon.ico">
     <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>
  <style>
    body {
      background: url(../static/images/pupper.jpg); 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
    }
  </style>
  <body>
   <!-- <body id="page"> -->
   <section class="intro">
     <div class="inner">
       <div class="content">
        <br><br><br><br><br><br><br><br><br><br><br>
        <h1 style= "color:#D17B2E";>
            The Pup Files
        </h1>
        <a class="button" href="/about">Woof!</a>
     </div>
   </div>
  </section>
</body>
</html>
